In [ ]:
!pip install faker

Collecting faker
  Downloading Faker-19.2.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 12.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-19.2.0

In [ ]:
import pandas as pd
import uuid
import random
from faker import Faker

In [ ]:
num_users = 100

In [ ]:
features = [
    "id",
    "gender",
    "subscriber",
    "name",
    "rating"
]

df = pd.DataFrame(columns=features)
df

Empty DataFrame
Columns: [id, gender, subscriber, name, rating]
Index: []

In [ ]:
df['id'] = [uuid.uuid4().int for i in range(num_users)]
df

                                         id gender subscriber name rating
0   197235185812925937763501696495426761634    NaN        NaN  NaN    NaN
1   167245585599671707349634143166110431123    NaN        NaN  NaN    NaN
2   137587118172388695656097980671023874802    NaN        NaN  NaN    NaN
3   282020316105120726307827446886480968261    NaN        NaN  NaN    NaN
4    79090641026287665403231084077420734102    NaN        NaN  NaN    NaN
..                                      ...    ...        ...  ...    ...
95  119466192053314401381033569998829276343    NaN        NaN  NaN    NaN
96   69634325793769379738244472265663508835    NaN        NaN  NaN    NaN
97  237959244565546257882999377182156158389    NaN        NaN  NaN    NaN
98   29923688980506071177180236768260667760    NaN        NaN  NaN    NaN
99  223208219462074297245674125527687177177    NaN        NaN  NaN    NaN

[100 rows x 5 columns]

In [ ]:
print(df['id'].nunique()==num_users)

True

In [ ]:
genders = ["male","female","na"]

df['genders'] = random.choices(
    genders,
    weights=(45,45,10),
    k=num_users
)
df

,id,gender,subscriber,name,rating,genders
0,197235185812925937763501696495426761634,NaN,NaN,NaN,NaN,female
1,167245585599671707349634143166110431123,NaN,NaN,NaN,NaN,female
2,137587118172388695656097980671023874802,NaN,NaN,NaN,NaN,male
3,282020316105120726307827446886480968261,NaN,NaN,NaN,NaN,male
4,79090641026287665403231084077420734102,NaN,NaN,NaN,NaN,male
...,...,...,...,...,...,...
95,119466192053314401381033569998829276343,NaN,NaN,NaN,NaN,female
96,69634325793769379738244472265663508835,NaN,NaN,NaN,NaN,male
97,237959244565546257882999377182156158389,NaN,NaN,NaN,NaN,male
98,29923688980506071177180236768260667760,NaN,NaN,NaN,NaN,female
99,223208219462074297245674125527687177177,NaN,NaN,NaN,NaN,male

In [ ]:
choice = [True, False]

df['subsricber'] = random.choices(
    choice,
    k=num_users
)
df

,id,gender,subscriber,name,rating,genders,subsricber
0,197235185812925937763501696495426761634,NaN,NaN,NaN,NaN,female,True
1,167245585599671707349634143166110431123,NaN,NaN,NaN,NaN,female,True
2,137587118172388695656097980671023874802,NaN,NaN,NaN,NaN,male,False
3,282020316105120726307827446886480968261,NaN,NaN,NaN,NaN,male,False
4,79090641026287665403231084077420734102,NaN,NaN,NaN,NaN,male,True
...,...,...,...,...,...,...,...
95,119466192053314401381033569998829276343,NaN,NaN,NaN,NaN,female,False
96,69634325793769379738244472265663508835,NaN,NaN,NaN,NaN,male,True
97,237959244565546257882999377182156158389,NaN,NaN,NaN,NaN,male,True
98,29923688980506071177180236768260667760,NaN,NaN,NaN,NaN,female,False
99,223208219462074297245674125527687177177,NaN,NaN,NaN,NaN,male,True

In [ ]:
faker = Faker(locale="EN_IN")
def name_gen(gender):


    if gender=='male':
      return faker.name_male()
    elif gender=='female':
      return faker.name_female()

    return faker.name()

df['name'] = [name_gen(i) for i in df['gender']]
df

,id,gender,subscriber,name,rating,genders,subsricber
0,197235185812925937763501696495426761634,NaN,NaN,Amani Sengupta,NaN,female,True
1,167245585599671707349634143166110431123,NaN,NaN,Abram Raval,NaN,female,True
2,137587118172388695656097980671023874802,NaN,NaN,Dhanush Walla,NaN,male,False
3,282020316105120726307827446886480968261,NaN,NaN,Darshit Hari,NaN,male,False
4,79090641026287665403231084077420734102,NaN,NaN,Reyansh Banerjee,NaN,male,True
...,...,...,...,...,...,...,...
95,119466192053314401381033569998829276343,NaN,NaN,Tushar Thakkar,NaN,female,False
96,69634325793769379738244472265663508835,NaN,NaN,Kimaya Hegde,NaN,male,True
97,237959244565546257882999377182156158389,NaN,NaN,Tiya Shenoy,NaN,male,True
98,29923688980506071177180236768260667760,NaN,NaN,Vanya Srinivasan,NaN,female,False
99,223208219462074297245674125527687177177,NaN,NaN,Tushar Sinha,NaN,male,True

In [ ]:
genders = ["male","female","na"]

df['genders'] = random.choices(
    genders,
    weights=(45,45,10),
    k=num_users
)
df

,id,gender,subscriber,name,rating,genders,subsricber
0,197235185812925937763501696495426761634,NaN,NaN,Amani Sengupta,5,female,True
1,167245585599671707349634143166110431123,NaN,NaN,Abram Raval,2,female,True
2,137587118172388695656097980671023874802,NaN,NaN,Dhanush Walla,1,female,False
3,282020316105120726307827446886480968261,NaN,NaN,Darshit Hari,1,female,False
4,79090641026287665403231084077420734102,NaN,NaN,Reyansh Banerjee,4,male,True
...,...,...,...,...,...,...,...
95,119466192053314401381033569998829276343,NaN,NaN,Tushar Thakkar,5,female,False
96,69634325793769379738244472265663508835,NaN,NaN,Kimaya Hegde,3,male,True
97,237959244565546257882999377182156158389,NaN,NaN,Tiya Shenoy,5,female,True
98,29923688980506071177180236768260667760,NaN,NaN,Vanya Srinivasan,2,female,False
99,223208219462074297245674125527687177177,NaN,NaN,Tushar Sinha,2,na,True

In [ ]:
choice = ["1","2","3","4","5"]
df['rating'] = random.choices(
    choice,
    weights=(45,45,10,42,60),
    k=num_users
)
df

,id,gender,subscriber,name,rating,genders,subsricber
0,197235185812925937763501696495426761634,NaN,NaN,Amani Sengupta,1,female,True
1,167245585599671707349634143166110431123,NaN,NaN,Abram Raval,4,female,True
2,137587118172388695656097980671023874802,NaN,NaN,Dhanush Walla,4,female,False
3,282020316105120726307827446886480968261,NaN,NaN,Darshit Hari,4,female,False
4,79090641026287665403231084077420734102,NaN,NaN,Reyansh Banerjee,2,male,True
...,...,...,...,...,...,...,...
95,119466192053314401381033569998829276343,NaN,NaN,Tushar Thakkar,4,female,False
96,69634325793769379738244472265663508835,NaN,NaN,Kimaya Hegde,5,male,True
97,237959244565546257882999377182156158389,NaN,NaN,Tiya Shenoy,4,female,True
98,29923688980506071177180236768260667760,NaN,NaN,Vanya Srinivasan,1,female,False
99,223208219462074297245674125527687177177,NaN,NaN,Tushar Sinha,4,na,True

In [ ]:
df.to_csv('dataset1.csv')

In [ ]:
csv_df = pd.read_csv('dataset.csv',index_col=0)
csv_df

,id,gender,subscriber,name,rating,genders,subsricber
0,197235185812925937763501696495426761634,NaN,NaN,Amani Sengupta,5,female,True
1,167245585599671707349634143166110431123,NaN,NaN,Abram Raval,5,female,True
2,137587118172388695656097980671023874802,NaN,NaN,Dhanush Walla,5,female,False
3,282020316105120726307827446886480968261,NaN,NaN,Darshit Hari,4,female,False
4,79090641026287665403231084077420734102,NaN,NaN,Reyansh Banerjee,1,male,True
...,...,...,...,...,...,...,...
95,119466192053314401381033569998829276343,NaN,NaN,Tushar Thakkar,2,female,False
96,69634325793769379738244472265663508835,NaN,NaN,Kimaya Hegde,1,male,True
97,237959244565546257882999377182156158389,NaN,NaN,Tiya Shenoy,3,female,True
98,29923688980506071177180236768260667760,NaN,NaN,Vanya Srinivasan,1,female,False
99,223208219462074297245674125527687177177,NaN,NaN,Tushar Sinha,4,na,True